@charset "utf-8";
@import url(./reset/normalize.css);
@import url(./reset/reset.css);
@import url(./module/a11y.css);
@import url(./typography/textstyle.css);
@import url(./module/designpart.css);
@import url(./style/public.css);
@import url(./style/background.css);


body{

}
.container{
 
  }
  .appHeader{


  }
  .appNavigation{
    background-color: tan;
 
  }
  .appMain{

    min-height:60vh;
  }
  .book{

  }
  .news{

  }
  .board{
    background-color: tomato;
  }
  .favorite{
    background-color: lime;
  }
  .twitter{
    background-color: skyblue;
  }
  .appFooter{
    background-color: hotpink;
    min-height:15vh;
  }